{% extends 'base.html' %}

{% block title %}
Home page
{% endblock %}

{% load static %}

{% block content %}

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Alexey Elivanov</h1>
      <p class="lead text-muted">Hi, my name is Alexey, I enjoy making apps and websites</p>
      <p>
        <a href="mailto:epifanov998@mail.ru" class="btn btn-primary my-2">Email Me</a>
      </p>
      <img src="{% static 'avatar.jpg' %}" height=300>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
          {% for job in jobs.all %}
          <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
              <p class="card-text">{{ job.summary }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
          </div>
          {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}