{% extends 'base.html' %}

{% block title %}
Home page
{% endblock %}

{% load static %}

{% block content %}

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Alexey Elivanov</h1>
      <p class="lead text-muted">Hi, my name is Alexey, I enjoy making apps and websites</p>
      <p>
        <a href="mailto:epifanov998@mail.ru" class="btn btn-primary my-2">Email Me</a>
      </p>
      <img src="{% static 'avatar.jpg' %}" height=300>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
          {% for job in jobs.all %}
          <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src=" {{ job.image.url }} " height=300>
            <div class="card-body">
              <p class="card-text">{{ job.summary }}</p>
            </div>
          </div>
          </div>
          {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}